body {
  font-family: 'Poppins', sans-serif;
  background-image: url('©NjoyObs.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('de6c127301fb64f9a3ea86d770b0efde.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}